.table-nonfluid {
   width: auto;
}

.attribute-heading {
	background-color: gold !important;
}

.relation, .attribute {
	white-space: nowrap;
}

.selected {
	 background-color: lightgreen !important;
}

.ace_editor { height: 200px; width: 400px; }